<h1>Account Info</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address, "Enter Shipping Address:" %>
    </br>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :telephone, "Enter Telephone Number:" %>&ensp;
    <%= form.telephone_field :telephone, maxlength: "10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
