<h1>Widgets</h1>
<% if !session[:user_id] %>
  <p>Please
    <a href='/signup/' style="text-decoration: underline;">
      Create Account</a>
       or
    <a href='/login/'style="text-decoration: underline;">
      Log In</a>
       to place orders.
    </p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name&ensp;&ensp;&ensp;</th>
      <th>Picture&ensp;&ensp;</th>
      <th>Description&ensp;&ensp;&ensp;</th>
      <th>Price&ensp;&ensp;&ensp;</th>
      <% if session[:user_id] %>
        <th>Quantity</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= link_to widget.name, widget_path(widget)%></td>
        <td><%= link_to image_tag(widget.picture, :size => '50x50'), widget_path(widget) %></td>
        <td><%= widget.description %></td>
        <div class="price_line">
          <td><span class="price"><%= number_to_currency(widget.price) %></span></td>
          <% if session[:user_id] %>
            <td>
              <%= form_for @order_item do |f| %>
                <%= f.hidden_field :widget_id, value: widget.id %>
                <span class="quantity-input">
                  <%= f.number_field :quantity, value: 1, min: 1 %>
                </span>
                <%= f.submit "Add to cart" %>
              <% end %>
            </td>
          <% end %>
        </div>
        </tr>
      <% end %>
    </tbody>
  </table>
