<h1>Widgets</h1>
<% if !session[:user_id] %>
  <p>Please
    <%= link_to "Sign Up", signup_path %>
    or
    <%= link_to "Log In", login_path %>
    to place order.
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Price</th>
      <% if session[:user_id] %>
        <th>Quantity</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= link_to widget.name, widget_path(widget) %></td>
        <td><%= link_to image_tag(widget.picture, :size => '50x50'), widget_path(widget) %></td>
        <td><%= widget.description %></td>
        <td>$<%= widget.price %></td>
        <% if session[:user_id] %>
          <td><%= number_field_tag(widget.quantity) %></td>
          <td><%= button_to 'Add to Cart' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
