<p id="notice"><%= notice %></p>
<h1>Widget Page</h1>
<% if !session[:user_id] %>
  <p>Please
    <a href='/signup/' style="text-decoration: underline;">
      Create Account</a>
       or
    <a href='/login/'style="text-decoration: underline;">
      Log In</a>
       to place orders.
  </p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @widget.name %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag(@widget.picture) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @widget.description %>
</p>
<div class="price_line">
  <p>
    <span class="price">
      <strong>Price:</strong>
      <%= number_to_currency(@widget.price) %>
    </span>
  </p>
  <% if session[:user_id] %>
    <p>
      <%= form_for @order_item do |f| %>
        <%= f.hidden_field :widget_id, value: @widget.id %>
        <span class="quantity-input">
          <%= f.number_field :quantity, value: 1, min: 1 %>
        </span>
        <%= f.submit "Add to cart" %>
      <% end %>
    </p>
  <% end %>
</div>
<% if @widget.id>1 %>
  <a href='/widgets/<%=(@widget.id.to_i)-1%>'style="text-decoration: underline;">Prev Widget</a>
<% end %>
  <a href='/widgets/<%=(@widget.id.to_i)+1%>'style="text-decoration: underline;">Next Widget</a>
<br></br>
