<h1>Cart Page</h1>
<% if @order_items.any? %>
<ul>
  <% @order_items.each do |item| %>
    <li>
    <p><strong>Item: </strong><%= item.widget.name %>
      <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :widget_id, value: item.widget.id %>
        <% options = options_for_select(1..100, item.quantity) %>
        <%= select_tag :quantity, options %>
        <%= f.submit "Update Qty." %>
      <% end %>
      <%= link_to "Delete",
        order_item_path(item),
        :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
    </p>
    <p><strong>Price: </strong><%= number_to_currency item.widget.price %> |
      <strong>Quantity: </strong><%= item.quantity %> |
      <strong>Total Price: </strong><%= number_to_currency (item.widget.price * item.quantity) %>
    </p>
    </li>
  <% end %>
  </ul>
  <p>
    <span class="total">
      Your Total:
      <%= number_to_currency current_order.total_price %>
    </span>
  </p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
<a href='/widgets/'style="text-decoration: underline;">
  Continue Shopping
</a> | Checkout
<br></br>
