<!DOCTYPE html>
<html>
  <head>
    <title>My Rails Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <navbar>
      <%= link_to "Home", root_path %> |
      <%= link_to "Inventory", widgets_path %> |
      <% if session[:user_id] %>
        <%= link_to "Account", user_path(current_user) %> |
        <%= link_to "Cart", user_path(current_user) %> |
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", signup_path %>
      <% end %>
      <%= search_field_tag (:widget)'search', 'Enter your search query here' %>
      <% flash.each do |name, msg| -%>
        <strong><%= content_tag :div, msg, class: name %></strong>
      <% end %>
    </navbar>
    <% if session[:user_id] %>
      <h3>Welcome, <%= current_user.email.upcase_first %>!
    <% end %>
    
    <%= yield %>
    <footer>
      <%= link_to "Back", root_path %> |
      <% if !session[:user_id] %>
        <%= link_to "Log In", login_path %> |
      <% else %>
        <%= link_to "Edit Account", edit_user_path(current_user) %> |
      <% end %>
      <%= link_to "About", about_path %>
    <br></br>
    </footer>
  </body>
</html>
